/* General body styles */
body {
  margin: 0;
  background-color: black;
}

/* Styles for the game container */
#game-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: 1px solid black;
}

/* Styles for the game area */
#game {
  width: 840px;
  height: 880px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Styles for the scoring area */
#scoring {
  width: 840px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -760%);
}

/* Contrainer to box the game area */
#game-wrapper {
  width: 840px;
  height: 880px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 4px solid black;
}

#game-container {
  width: 100%;
  height: 100%;
}

/* #start-screen {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: fixed;  
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 1000; 
  flex-direction: column;
  color: white;
} */
