<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.75" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
    />
    <title>pac-man</title>
  </head>
  <body>
    <div id="start-screen">
      <h1>Pacman Game</h1>
    </div>

    <div id="game-container">
      <div id="scoring" style="border: solid blue 4px"></div>
      <div id="game"></div>
    </div>
    <script type="module" src="../scripts/game.js"></script>
  </body>
</html>
